* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 206, 206);
    font-family: "Poppins", sans-serif;
    animation: fade-up 0.5s;
  }
  /* Nav bar */
  .navBoja {
    background-color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 50, 50);
    height: 140px;
    max-width: 100%;
  }
  header nav,
  .logo img {
    padding: 1.4rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
  }
  /* Animation header text underline */
  nav a {
    display: inline-block;
    position: relative;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* About us */
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    width: 700px;
    margin: 80px;
    text-align: center;
    font-size: 1.3rem;
  }
  .aboutUS {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
  }
  .pic img {
    height: 520px;
    width: 460px;
  }
  /* Services */
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.4rem;
  }
  .servicesNaslovWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .servicesNaslov {
    margin-bottom: -150px;
    font-size: 2.5rem;
  }
  .servicesSlika {
    height: 100px;
    width: 100px;
  }
  .servicesDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
  }
  .servicesDiv p {
    text-align: center;
    font-size: 1.3rem;
  }
  #services {
    margin-bottom: 150px;
    margin-top: 150px;
  }
  /* Contact */
  .forma {
    margin: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 210px;
    margin-bottom: 200px;
  }
  .contactText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contactText p {
    text-align: center;
    font-size: 1.2rem;
  }
  .contactText h1 {
    font-size: 2.5rem;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  
  .footerDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footerBoja {
    background-color: #333;
  }
  .bojaFH {
    color: white;
  }
  /* Animation */
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(-30px);
      scale: (0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      scale: (1);
    }
  }
  /* Responsive */
  @media (max-width: 850px) {
    header {
      display: block;
      height: 400px;
      max-width: 100%;
    }
    nav a {
      display: block;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .about {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text {
      width: 345px;
    }
    .pic img {
      width: 370px;
      height: 350px;
    }
    .services {
      display: block;
    }
    .servicesDiv p {
      width: 355px;
    }
    footer {
      display: block;
      max-width: 100%;
    }
  }